# Autotools files
/m4
version.m4
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h1
libtool
compile

# In-tree build files
configure
config.h
config.h.in
Makefile
Makefile.in
.deps/
.libs/
*.la
*.lo
*.log
*.o
*~
autoversion

src/gpupdate
src/gpupdatefor
src/oddjob-gpupdate.conf
src/oddjob-gpupdate.conf.5
src/oddjobd-gpupdate.conf
src/oddjobd-gpupdate.conf.5
src/pam_oddjob_gpupdate.8

